# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Logs
*.log

# Coverage
.coverage
htmlcov/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Linux
# =========================
*~

# =========================
# Node
# =========================
frontend/node_modules/

# React Build
frontend/dist/

# =========================
# Docker
# =========================
*.pid