# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Grafana
monitoring/grafana-data/

# Prometheus
monitoring/prometheus-data/

# Loki
monitoring/loki-data/

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store